@use "../../../styles/variables" as theme;

.main {
  padding: 4rem;
  width: 100%;
  background-color: theme.$bg-main;
  border-radius: 8px;

  &__focus {
    text-align: center;
  }

  &__tasks-container {
    max-width: 60rem;
    width: 100%;
    margin: 4rem auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }

  &__tasks-title {
    font-size: 2rem;
  }

  &__tasks-list {
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__task-item {
    width: 100%;
    padding: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1.5px solid color-mix(in srgb, theme.$macchiato-base, white 10%);
  }

  &__task-content,
  &__task-actions {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
}
