@use "../../../styles/variables" as theme;

.sidebar {
  height: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  background-color: theme.$bg-sidebar;
  border-radius: 8px;

  &__header {
    padding: 1rem 0;
    display: flex;
    border-bottom: 1px solid theme.$border-color;
  }

  &__search-box {
    margin: 1rem 0;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    border-radius: 4px;
    border: 1px solid transparent;

    &:hover {
      border: 1px solid color-mix(in srgb, theme.$text-main, black 50%);
    }
  }

  &__input-search {
    padding: 0.5rem 1.2rem;
    width: 100%;
    background: none;
    border: none;
    border-radius: 4px;
    color: theme.$text-secondary;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: theme.$text-secondary;
      opacity: 1;
    }
  }

  &__mail-list {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    list-style: none;
  }

  &__mail-item {
    padding: 0 0.5rem;
    display: flex;
    align-items: center;
    gap: 1.2rem;
  }

  &__add-task-btn {
    padding: 0.75rem 1.5rem;
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: color-mix(in srgb, theme.$text-main, white 95%);
    background-color: theme.$action-primary;
    border: none;
    border-radius: 4px;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: theme.$action-hover;
    }
  }
}
